{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div style="margin: 20px;">
    <h1 style="margin-bottom: 20px;">Are you sure you want to remove the tag <em>{{ tag.name }}</em>?</h1>
    <form action="" method="post" style="display: inline-block;">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Yes" class="btn btn-danger" style="margin-right: 10px;">
    </form>
    <a href="{% url 'todolist:tag-list' %}" class="btn btn-secondary" style="display: inline-block;">Cancel</a>
  </div>
{% endblock %}
